<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
	<title>Todo app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="http://www.lyhyxx.com/data/out/11/3829091-minimalist-wallpapers.jpg">
      <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
